.thread_container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .replies {
        --box-height: 0px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-left: calc(7% + 50px);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: calc(7% - 25px/2);
            // left: calc(25px /2);
            top: -25px;
            width: 2px;
            background-color: var(--Light-gray);
            height: calc(var(--box-height) - 45px);



        }

        @media screen and (max-width:768px) {
            padding-left: 15px;

            &::after {
                left: calc(0px);
                height: calc(var(--box-height) - 0px);

            }
        }

    }



}